* {
    box-sizing: border-box;
}
body {
    background-image: url(bglogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(to right, #8aa2ce, #074e91);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    color: #000000;
}
label {
    font-weight: bold;
    display: block;
    margin: 10px 5px;
    color: #000000;
    text-align: left;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #083254;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0c3e6a;
}
p {
    margin-top: 15px;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}